<!DOCTYPE html> 
<html> 
  <head> 
  <title>PickupAgent</title> 
  
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
  
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icon_app.png">
  <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.0.min.css" />
  <link rel="stylesheet" type="text/css" href="css/jquery.mobile.datebox.min.css" /> 
  
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/themeroller.css" />
  
  <!-- remote -->
  <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="js/vWorkApp/init.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.mobile-1.0.min.js"></script>
  <script type="text/javascript" src="js/vendor/google.js"></script>
  <!-- vendor -->
  <script type="text/javascript" src="js/vendor/jquery.cookie.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.ui.map.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.ui.map.overlays.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.ui.map.services.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.ui.map.extensions.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.mobile.datebox.min.js"></script>
  <script type="text/javascript" src="js/vendor/knockout-1.2.1.js"></script>
      
</head> 
<body> 


<!-Initialisation screen -->
<!- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div data-role="page" id="startup" data-theme="a" data-fullscreen="true">
   
	<div data-role="content" id="splash">
		
		<img src="images/vwork-logo.png" id="vwork-logo" />	
		 		
	</div>
	 
</div>



<!- Home page -->
<!- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div data-role="page" id="home" data-theme="a" data-fullscreen="true">
   
	<div data-role="content">
	
		<div id="logo_banner">
			<img src="images/clients/<%= @company.name %>.png" id="logo" />	
		</div>
			
		<ul data-role="listview" data-inset="true" class="menu_list">
			<li>
				<a href="#pick_up">Pickup:
				<p id="pick_up_button" class="split_button_text" data-bind="text: pick_up_address"></p></a>
			</li>
			<li>
				<a href="#drop_off">Drop Off:
				<p id="drop_off_button" class="split_button_text" data-bind="text: drop_off_address"></p></a>
			</li>
			<li>
				<a href="#when">Date:
				<p id="when_button" class="split_button_text" data-bind="text: pick_up_time">Today</p></a>
			</li>
		</ul>
		
		<a href="#tracking" id="request_submit" data-role="button" data-theme="b" data-icon="arrow-r">Book Now!</a>
				
	</div>
	
	<div data-role="footer" data-postion="fixed" data-id="vworkapp-footer">
		<img src="images/vwork-footer.png" class="vwork-footer" />
	</div>

	 
</div>



<!- Pick up location entry page -->
<!- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div data-role="page" id="pick_up" data-add-back-btn="true" data-theme="a" data-fullscreen="true">  

	<div data-role="header"><h1>Pick-up Location</h1></div>
	
	<div data-role="content">  

		<div data-role="fieldcontain">
			<label for="pick_up_address">Enter your pick-up location</label>
			<input type="text" name="pick_up_address" id="pick_up_address_input" data-bind="value: pick_up_address"  />
			
			<div class="loading-widget">
	            <img src="images/loading-widget.png">
    	    </div>
		
			<div id="pick_up_container" class="inset_list"></div>
						
			<a href="#home" data-role="button" id="use_current_location_button" data-theme="e">Use my current location</a>

		</div>
				
	</div>	
	
	<div data-role="footer" data-postion="fixed" data-id="vworkapp-footer">
		<img src="images/vwork-footer.png" class="vwork-footer" />
	</div>
	
</div>



<!- Drop location entry page -->
<!- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div data-role="page" id="drop_off" data-add-back-btn="true" data-theme="a" data-fullscreen="true">

	<div data-role="header"><h1>Drop-off Location</h1></div>
	
	<div data-role="content"> 
	
		<div data-role="fieldcontain">
		
			<label for="drop_off_address">Enter your drop-off location</label>
			<input type="text" name="drop_off_address" id="drop_off_address_input" data-bind="value: drop_off_address"  />
		
			<div id="drop_off_container" class="inset_list"></div>
					
		</div>

	</div>	
	
	<div data-role="footer" data-postion="fixed" data-id="vworkapp-footer" class="footer">
		<img src="images/vwork-footer.png" class="vwork-footer" />
	</div>
	
</div>


<!- Pick up time page -->
<!- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div data-role="page" id="when" data-add-back-btn="true" data-theme="a"  data-fullscreen="true">

	<div data-role="header"><h1>Pick-up time</h1></div>
	
	<div data-role="content"> 
		
		<div data-role="fieldcontain">
            
            <label for="date_entry">Pick-up Date:</label>
			<input name="date_entry" id="date_entry" type="date" data-role="datebox" data-options='{"mode": "datebox", 'calTodayButton': true}' value="Today">
            
            <label for="time_entry">Pick-up Time:</label>
			<input name="time_entry" id="time_entry" type="date" data-role="datebox" data-options='{"mode": "timebox", "timeFormatOverride": 12}' value="Right now">
                        
            
            
            <a href="#home" id="date_submit" data-role="button" data-theme="e">Use these times</a>
            
        </div>
        
	</div>	
	
	<div data-role="footer" data-postion="fixed" data-id="vworkapp-footer" class="footer">
		<img src="images/vwork-footer.png" class="vwork-footer" />
	</div>

	
</div>


<!- Map / Booking screen -->
<!- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div id="tracking" data-role="page" data-theme="a">
	
	<div data-role="header"><h1 data-bind="text: driver_status"></h1></div>
	
	<div data-role="content" class="item"> 
		<div id="map_canvas"></div>		
	</div>
	
	<div data-role="footer" class="ui-bar" id="map_footer" style="display:none"> 
	
		<div data-role="controlgroup" data-type="horizontal">
			<a href="#home" data-icon='alert' onclick="vWorkTaxico.cancelBooking()">Cancel</a>
			<a href="#" data-icon="plus" onclick="vWorkTaxico.showStatus()">Check Your Booking Status</a>
			<a href="#home" data-icon="minus">Back</a>
		</div>
		
	</div>
	
	<!-- this had to be in the containing div..... bug in JQMobile -->
	<script type="text/javascript">
	
		
 		
	</script>

	
</div>

  <!-- vWorkApp -->
  <script type="text/javascript" src="js/vWorkApp/vWorkAppGeo-1.0.0.js"></script>
  <script type="text/javascript" src="js/vWorkApp/vWorkAppUI-1.0.0.js"></script>
  <script type="text/javascript" src="js/vWorkApp/vWorkAppData-1.0.0.js"></script>
  <script type="text/javascript" src="js/vWorkApp/vWorkAppUtils-1.0.0.js"></script>
  <!-- controllers -->
  <script type="text/javascript" src="js/controllers/index_controller.js"></script>

</body>
</html>