
body {
	background-image: url('images/background.png');
	margin:0;
	padding:0;
}

.split_button_text {
	position:absolute; 
	display:block; 
	right:40px; 
	top:20px; 
	color:grey;
}

#map_canvas { 
	width: 100%; 
	height:400px;
}

.item { 
	padding:0; 
	margin:0;
}

.inset_list {
	padding:0;
}

#logo {
	position: relative;
	display: block;
	background-position: center;
}