/* Core
******************************************************************/

body {
	background-color: black;
	margin:0;
	padding:0;
}

/* Fonts
******************************************************************/

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic-webfont.woff') format('woff'),
         url('../fonts/league_gothic-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}


/* JQuery Theme overrides
******************************************************************/


.ui-page {
	background-repeat:repeat;
	background: transparent url(../images/back-tile.png);
}

.ui-content {
	padding:0;
}

.ui-content .ui-listview {
	padding-left:15px;
	padding-right:15px;
}

.ui-shadow {
 	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-btn-corner-all {
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}

.ui-footer {
	height:42px;
	background-repeat:repeat;
	background: transparent url(../images/footer-tile.png);
}

.ui-field-contain {
	margin-left:15px;
	margin-right:15px;
}

.ui-input-text {
	padding-left:10px;
	padding-right:10px;
}

.ui-br {
	border-bottom: none;
	border-bottom: none;
	border-bottom-width: 0;
	border-bottom-style: none;
}

.ui-mobile {
	overflow: hidden;
}

.ui-footer {
	position:absolute;
	bottom:0
}

.label.ui-input-text {
	margin: 0 0 0.5em;
}	

.ui-input-datebox {
	margin-bottom:10px;
}

/*.ui-mobile-viewport {
	margin: 0;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust:none;
    -webkit-tap-highlight-color: rgba(255, 128, 60, 0);
}*/


/* PickupAgent
******************************************************************/


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

.loading-widget img {
	display:none;
	-webkit-animation-name:             rotate; 
	-webkit-animation-duration:         0.5s; 
	-webkit-animation-iteration-count:  infinite;
	-webkit-animation-timing-function: linear;
	float: right;
	right: 14px;
	position: relative;
	top: -31px;
}

div#splash {
	background-color:#ffffff;
	display:block;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
	overflow-y: auto;
}

div#logo_banner {
	display: block;
    background-color: white;
    width: 100%;
    height:150px;
    -moz-box-shadow: 0 5px 5px #000;
	-webkit-box-shadow: 0 5px 5px #000;
	box-shadow: 0 5px 5px #000;
}

#logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

img#vwork-logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
	width:42px;
}

img.vwork-footer {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
	width:217px;
}

img#vwork-init {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
	width:79px;
}

.split_button_text {
	position:absolute; 
	display:inline; 
	right:40px; 
	top:20px; 
	color:#cdcdcd;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
}

.menu_list li a {
	display: block;
}

.footer-wrapper {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

#map_canvas { 
	width: 100%; 
	height:100%;
	overflow: hidden;
}

.item { 
	padding:0; 
	margin:0;
}

.inset_list {
	padding:0;
}

#pick_up_container, #drop_off_container {
	
	display:block;
}

.indented_heading {
	font-family: 'LeagueGothicRegular';
    font-weight:normal;
	margin-left:15px;
    text-shadow: 0px -1px 0px #374683;
    text-transform:uppercase; 
    line-height:81%;
}

#request_submit {
	margin-left:15px;
	margin-right:15px;
}

.center-button {
	margin: 0 auto;
	padding: 10px;
}

#distance_canvas {
	top: 10px;
	position: relative;
	display: block;
	float:right;
	padding: 5px;
	height: 30px;
	background-color: #535353;
	font-size: 11px;
	font-family: sans-serif;
}

